body {
  overflow-x: hidden;
}

.containerAboutUs {
  padding: 25px 0px;
  max-width: 100%;
}

.mainAboutUs {}

/* Default Css Shataxi for Row 1 and Row 2 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+HK&display=swap");

.rowOneColOne>img {
  width: 600px;
  height: 350px;
  position: relative;
  left: 5rem;
}

/* styling for rowOneColTwo div */
.rowOneColTwo {
  background-image: url("../AboutUsImages/backRed.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.rowOneColTwo>div {
  margin-left: 18rem;
  padding-top: 2rem;
}

.rowOneColTwo h1 {
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 999px) {
  @keyframes change {
    0% {
      letter-spacing: 0px;
    }

    25% {
      letter-spacing: 2px;
    }

    50% {
      letter-spacing: 4px;
    }

    75% {
      letter-spacing: 2px;
    }

    100% {
      letter-spacing: 0px;
    }
  }
}

.rowTwoDiv {
  background-image: url("../AboutUsImages/backYellow.png");
  background-attachment: inherit;
  background-size: cover;
  background-position: left;
  height: 6rem;
  width: 100%;
}

.rowTwoDiv>h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  padding-left: 80px;
}

.rowOneColTwo p {
  color: grey;
  font-weight: bolder;
  font-style: oblique;
  font-family: "Source Sans Pro";
  word-spacing: 3px;
}

.rowTwoRowPara {
  font-family: "Noto Sans HK", "Source Sans Pro";
  color: black;
  word-spacing: 5px;
  font-size: 18px;
}

.rowTwoRowPara>p {
  padding-left: 80px;
  padding-right: 80px;
  text-align: justify;
}

/* Default Css Shadab  for Row 3 and Row 4 */
.section3 {
  padding-top: 50px;
  height: 500px;
  display: flex;
}

.content {
  background-image: url('../AboutUsImages/backGreen.png');
  background-attachment: inherit;
  height: auto;
}

.content p {
  padding-left: 80px;
  margin-right: 164px;
  /* display: inline-block; */
  /* vertical-align: middle; */
  line-height: normal;
  text-align: justify;
  font-size: 19px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
}

.imageBox {
  position: absolute;
  height: 500px;
  align-items: center;
  text-align: center;
}

.imageBox img {
  position: absolute;
  margin: 50px 0px;
  height: 400px;
  width: 850px;
  align-items: center;
  text-align: center;
  transition: 500ms ease-in-out;
}

.section4 {
  margin-top: 100px;
  width: 100%;
}

.whyStarted {
  height: 6rem;
  background-image: url('../AboutUsImages/backBlue.png');
  background-attachment: inherit;
}

.whyStarted h1 {
  padding: 24px 0px 24px 80px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  align-items: center;
}

.reasonForStart {
  /* margin-top: 25px; */
}

.reasonForStart p {
  padding: 25px 80px 25px 80px;
  line-height: normal;
  text-align: justify;
  font-size: 19px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
}

/* Default Css Anjali for Row 5 and Row 6 */
.sec5bgimage {
  z-index: -1;
  margin-left: 200px;
  margin-top: 5px;
  width: 70%;
  transition: 300ms ease-in-out;
  justify-content: center;
  align-items: center;
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
/* .section6{
  padding-top: 30px;
} */
.bgimage {
  margin-left: 10%;
  margin-top: 50px;
  width: 80%;
  transition: 300ms ease-in-out;
}

.sec5bgimage:hover {
  z-index: 5;
  transform: scale(1.1);
}

.section5 {
  font-size: 25px;
  margin-top: 300px;
  margin-bottom: 50px;
  background-size: 100% 90%;
  height: auto;
  background-image: url('../AboutUsImages/backRed.png');
  background-attachment: inherit;
  position: absolute;
}

.para1 {
  padding: 50px 80px 50px 80px;
  margin-bottom: 0px;
  text-align: justify;
  font-size: 20px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
}

.boxbg1 {
  height: 400px;
  margin-left: 40px;
  margin-top: 400px;
  transition: 300ms ease-in-out;
}

.boxbg1:hover {
  transform: scale(1.1);
}

.boxbg2 {
  height: 400px;
  margin-left: 40px;
  margin-top: 300px;
  transition: 300ms ease-in-out;
}

.boxbg2:hover {
  transform: scale(1.1);
}

.boxbg3 {
  height: 400px;
  margin-left: 40px;
  margin-top: 300px;
  transition: 300ms ease-in-out;
}

.boxbg3:hover {
  transform: scale(1.1);
}

.sbox {
  height: 48px;
  width: 180px;
  margin-left: 150px;
  background-image: url('../AboutUsImages/backRed.png');
  background-size: 50% 90%;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%);
  font-size: 26px;
}

/* Default Css Shadab  for Row 7 */
/* *************Section 7a *******************/
.sectionSeven {
  padding: 25px 0px;
}

.section7Col {
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 12px 12px;
}

.sevenImage {
  width: 100%;
  height: 300px;
}

.contentWrap {
  align-content: center;
  justify-content: center;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px 0px;
}

.contentWrap>h3 {
  font-size: 30px;
  font-weight: 350;
  text-transform: uppercase;
}

.contentWrap>h4 {
  font-size: 25px;
  font-weight: 300;
}

.contentWrap>p {
  font-size: 23px;
  font-weight: 300;
  text-align: justify;
}

.wrapSeven1 {
  background-image: url('../AboutUsImages/backRed.png');
  background-attachment: fixed;
}

.wrapSeven2 {
  background-image: url('../AboutUsImages/backYellow.png');
  background-attachment: fixed;
}

.wrapSeven3 {
  background-image: url('../AboutUsImages/backGreen.png');
  background-attachment: fixed;
}

.wrapSeven4 {
  background-image: url('../AboutUsImages/backBlue.png');
  background-attachment: fixed;
}

/*************Section7b**************/
.sectionSevenb {
  max-width: 100%;
  padding: 60px 60px;
  margin: 0px 0px;
}

.sectionSevenRow1 {
  background-image: url('../AboutUsImages/backRed.png');
  background-attachment: inherit;
}

.sectionSevenRow2 {
  background-image: url('../AboutUsImages/backYellow.png');
  background-attachment: inherit;
}

.sectionSevenRow3 {
  background-image: url('../AboutUsImages/backGreen.png');
  background-attachment: inherit;
}

.sectionSevenRow4 {
  background-image: url('../AboutUsImages/backBlue.png');
  background-attachment: inherit;
}

.innerRow {
  max-width: 100%;
  background-color: white;
  padding: 10px 10px;
  margin: 0px 0px;
}

.row1Col2, .row3Col2, .row2Col1, .row4Col1 {
  margin: 20px 20px;
}

.row1Col1, .row3Col1, .row2Col2, .row4Col2 {
  margin: 20px 20px;
  align-self: center;
}

.image7 {
  width: 400px;
  height: 400px;
}

.cWrap {
  width: auto;
  height: auto;
}

.cWrap>h2 {
  font-size: 30px;
  font-weight: 450;
  text-transform: uppercase;
}

.cWrap>h4 {
  font-size: 25px;
  font-weight: 300;
}

.cWrap>p {
  font-size: 20px;
  font-weight: 250;
  word-spacing: 5px;
  text-align: justify;
  padding-top: 10px;
  margin-bottom: 0px;
}

.wrap1 {
  padding: 10px 10px;
  background-image: url('../AboutUsImages/backRed.png');
  background-attachment: inherit;
  width: 40%;
  text-align: start;
}

.wrap2 {
  padding: 10px 10px;
  background-image: url('../AboutUsImages/backYellow.png');
  background-attachment: inherit;
  width: 42%;
  text-align: start;
}

.wrap3 {
  padding: 10px 10px;
  background-image: url('../AboutUsImages/backGreen.png');
  background-attachment: inherit;
  width: 40%;
  text-align: start;
}

.wrap4 {
  padding: 10px 10px;
  background-image: url('../AboutUsImages/backBlue.png');
  background-attachment: inherit;
  width: 43%;
  text-align: start;
}

/* Default Css Anjali for Row 8 */
.collabs {
  margin-top: 20px;
  margin-bottom: 50px;
  background-image: url('../AboutUsImages/backGreen.png');
  background-attachment: inherit;
  padding: 30px 180px 30px 180px;
}

.collabs h1 {
  font-size: 48px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
}

.collabs p {
  font-size: 20px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  text-align: justify;
}

.collabbutton {
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  margin-top: 10px;
  padding: 13px 15px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ffffa8;
  border: none;
  border-radius: 25px;
  color: black;
}

.collabbutton:hover {
  background-color: #ffff8c;
  text-decoration: underline;
  color: black;
}

/* Default Css Shataxi for Row 9 */
.rowNineCarouselWrapper {
  background-image: url("../AboutUsImages/backBlue.png");
  /* background-attachment: inherit; */
}

.rowNineCarouselRoot>div {
  display: flex;
  justify-content: center;
}

.rowNineCarouselDiv img {
  /* width: 50%;
  height: 60vh; */
  padding: 25px 80px;
  /* padding: 2px; */
}

/* ****************************** Media Queries **************************** */
@media screen and (min-width: 1590px) {

  /* Changed Css Shataxi */
  .rowNineCarouselDiv img {
    width: 50%;
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 85.7rem;
    z-index: 2;
  }

  .content p {
    font-size: 3.3ex;
    margin-top: 25px;
  }

  .imageBox {
    width: 1200px;
    left: 40vw;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    width: 100%;
    margin-left: -90.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 140rem;
  }

  .reasonForStart {
    width: 140rem;
  }

  .reasonForStart p {
    font-size: 3.3ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
  /* .section6{
    padding-top: 0px;
  } */
  .bgimage {
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
    background-size: 100% 90%;
    height: 400px;
  }

  .para1 {
    padding: 50px 80px 0px 80px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .boxbg1 {
    height: 400px;
    margin-left: 40px;
    margin-top: 300px;
  }

  .boxbg1:hover {
    transform: scale(1.1);
  }

  .boxbg2 {
    height: 400px;
    margin-left: 40px;
    margin-top: 300px;
    transition: 300ms ease-in-out;
  }

  .boxbg3 {
    height: 400px;
    margin-left: 40px;
    margin-top: 300px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -30%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 48px;
  }

  .collabs p {
    font-size: 20px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

/****Default****/
@media screen and (min-width: 1300px) and (max-width: 1589px) {
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 62.7rem;
    z-index: 2;
  }

  .content p {
    /* font-size: 2.70ex; */
    margin-top: 25px;
  }

  .imageBox {
    width: 700px;
    left: 16.5vw;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -105.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 100vw;
  }

  .reasonForStart {
    width: 100vw;
  }

  .reasonForStart p {
    /* font-size: 2.9ex; */
  }
}

@media screen and (min-width: 1300px) and (max-width: 1449px) {

  /*Anjali CSS */
  .sec5bgimage {
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }
 /*  .section6{
    padding: 30px 80px 30px 80px;
    align-self: center;
  } */

  /*  .section6{
    padding: 30px 80px 30px 80px;
    align-self: center;
  } */
  .bgimage {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 90%;
    height: auto;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 220px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 220px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 220px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 48px;
  }

  .collabs p {
    font-size: 20px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1589px) {

  /*Anjali CSS */
  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 200px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 200px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 200px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }
}

/*** Assuming default css will be applied from 1300px to 1589px ***/
@media screen and (min-width: 1260px) and (max-width: 1299px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 600px;
    height: 300px;
    left: 3rem;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
    padding-top: 1rem;
  }

  .rowTwoDiv>h1 {
    padding-left: 3rem;
  }

  .rowTwoRowPara>p {
    padding-left: 2.5rem;
  }

  .rowNineCarouselDiv img {
    width: 50%;
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 56.7rem;
    z-index: 2;
  }

  .content p {
    font-size: 2.55ex;
    margin-top: 25px;
  }

  .imageBox {
    width: 700px;
    left: 6.5vw;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -105.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 100vw;
  }

  .reasonForStart {
    width: 100vw;
  }

  .reasonForStart p {
    font-size: 2.6ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }

  .bgimage {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 90%;
    height: auto;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 60px;
    margin-top: 320px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 50px;
    margin-top: 320px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 320px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -20%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
  }

  .collabs h1 {
    font-size: 48px;
  }

  .collabs p {
    font-size: 20px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1126px) and (max-width: 1259px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 550px;
    height: 300px;
    left: 1rem;
    padding-left: 80px;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
    padding-top: 1rem;
  }

  /* .rowTwoDiv>h1 {
    padding-left: 80px;
  }

  .rowTwoRowPara>p {
    padding-left: 80px;
  } */
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  .rowNineCarouselDiv img {
    width: 50%;
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 45.2rem;
    z-index: 2;
  }

  .content p {
    margin-top: 25px;
    margin-right: 143px;
    font-size: 2.3ex;
  }

  .imageBox {
    left: 2rem;
    width: 700px;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -90.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 78rem;
  }

  .reasonForStart {
    width: 78rem;
  }

  .reasonForStart p {
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    margin-left: 10%;
    margin-top: 5px;
    width: 80%;
  }

  .bgimage {
    margin-left: 5.5%;
    margin-top: 50px;
    width: 90%;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    background-size: 100% 100%;
    height: auto;
    width: 100%;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .boxbg1 {
    height: 300px;
    margin-left: 50px;
    margin-top: 320px;
  }

  .boxbg2 {
    height: 300px;
    margin-left: 40px;
    margin-top: 320px;
  }

  .boxbg3 {
    height: 300px;
    margin-left: 40px;
    margin-top: 320px;
  }

  .sbox {
    height: 48px;
    width: 180px;
    margin-left: 150px;
    background-size: 50% 90%;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    font-size: 26px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 180px 30px 180px;
    width: 100%;
  }

  .collabs h1 {
    font-size: 48px;
  }

  .collabs p {
    font-size: 20px;
    word-spacing: 5px;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 500px;
    height: 300px;
    left: 8px;
    padding-left: 80px;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
    padding-top: 1rem;
  }

  /* .rowTwoDiv>h1 {
    padding-left: 1rem;
  }

  .rowTwoRowPara>p {
    padding-left: 1rem;
  } */
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  .rowNineCarouselDiv img {
    width: 50%;
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 40.2rem;
    z-index: 2;
  }

  .content p {
    margin-top: 25px;
    margin-right: 143px;
    font-size: 2.1ex;
  }

  .imageBox {
    left: -1vw;
    width: 650px;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -90.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 72.7rem;
  }

  .reasonForStart {
    width: 72.7rem;
  }

  .reasonForStart p {
    font-size: 2.1ex;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    margin-top: 5px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
  }

  .bgimage {
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
    height: auto;
    width: 101%;
    justify-content: center;
    align-items: center;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .boxbg1 {
    margin-top: 450px;
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 24px;
  }

  .boxbg2 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-top: 450px;
    margin-left: 23px;
  }

  .boxbg3 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 5px;
    margin-top: 450px;
  }

  .sbox {
    height: 43px;
    width: 100px;
    transform: translate(0%, -30%);
    font-size: 20px;
    align-items: center;
    margin-left: 100px;
  }

  .collabs {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px 100px 30px 100px;
    width: 101%;
  }

  .collabs h1 {
    font-size: 48px;
  }

  .collabs p {
    font-size: 20px;
    word-spacing: 5px;
    text-align: left;
  }

  .collabbutton {
    margin-top: 10px;
    padding: 13px 15px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1125px) {

  /* Changed Css Anjali  */
  .sec5bgimage {
    z-index: -1;
    margin-top: 5px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
  }

  .bgimage {
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .sec5bgimage:hover {
    z-index: 5;
    transform: scale(1.1);
  }

  .section5 {
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
    height: auto;
    width: 101%;
    justify-content: center;
    align-items: center;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .boxbg1 {
    margin-top: 380px;
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 80px;
  }

  .boxbg2 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-top: 380px;
    margin-left: 60px;
  }

  .boxbg3 {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
    margin-top: 380px;
  }

  .sbox {
    height: 43px;
    width: 100px;
    transform: translate(0%, -30%);
    font-size: 20px;
    align-items: center;
    margin-left: 140px;
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {

  /* Changed Css Shataxi */
  .rowOneColOne>img {
    width: 450px;
    height: 350px;
    left: 16px;
    padding-left: 50px;
  }

  .rowOneColTwo>div {
    margin-left: 18rem;
  }

  .rowTwoDiv>h1 {
    /* padding-left: 2rem; */
    padding-left: 50px;
  }

  .rowTwoRowPara>p {
    /* padding-left: 1.5rem;
    padding-right:1rem; */
    padding: 0px 50px;
    font-size: 16px;
  }

  .rowNineCarouselDiv img {
<<<<<<< Updated upstream
    padding-left:40px;
    padding-right:40px;
=======
    padding-left: 40px;
    padding-right: 40px;
>>>>>>> Stashed changes
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 38.7rem;
    z-index: 2;
  }

  .content p {
    margin-right: 115px;
    margin-top: 25px;
    font-size: 2ex;
  }

  .imageBox {
    left: 15rem;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -90.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 68.7rem;
  }

  .reasonForStart {
    width: 68.7rem;
  }

  .reasonForStart p {
    font-size: 2.1ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-left: 15%;
    width: auto;
    margin-right: 30px;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .bgimage {
    position: relative;
    width: 80%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
  }

  .section5 {
    margin-top: 250px;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .para1 {
    font-size: 15px;
    padding: 20px 60px 20px 60px;
  }

  .boxbg1 {
    margin-top: 300px;
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-left: 30px;
  }

  .boxbg2 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-top: 300px;
    margin-left: 13px;
  }

  .boxbg3 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-left: -5px;
    margin-top: 300px;
  }

  .sbox {
    height: 34px;
    width: 80px;
    transform: translate(0%, -30%);
    font-size: 17px;
    align-items: center;
    margin-left: 80px;
  }

  .collabs {
    padding: 10px 40px 10px 30px;
    width: 100%;
  }

  .collabs h1 {
    font-size: 40px;
  }

  .collabs p {
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
  }
}

@media screen and (min-width: 870px) and (max-width: 999px) {
  .boxbg1 {
    margin-top: 250px;
  }

  .boxbg2 {
    margin-top: 250px;
  }

  .boxbg3 {
    margin-top: 250px;
  }
}

/****Shataxi***/
@media screen and (width: 768px) {
  .rowOneColOne>img {
    /* width: 100%;
    height: 100%;
    left: 0px; */
    width: 450px;
    height: 350px;
    left: 16px;
    padding-left: 0px;
    margin-left: 0px;
  }

  .rowOneColTwo>div {
    /* margin-left: 0rem; */
    margin-left: 18rem;
  }

  .rowTwoDiv>h1 {
    /* padding-left: 1.5rem; */
    /* padding-left: 2rem; */
    padding-left: 20px;
  }

  .rowTwoRowPara>p {
    /* padding-left: 0rem; */
    /* padding-left: 1.5rem;
    padding-right:1rem; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  .rowNineCarouselDiv img {
<<<<<<< Updated upstream
    padding-left:36px;
    padding-right:36px;
=======
    padding-left: 36px;
    padding-right: 36px;
>>>>>>> Stashed changes
    /* height: 60vh; */
  }

  /* Changed Css Shadab  */
  .content p {
    width: 61.5rem;
    font-size: 2.3ex;
    margin-top: 40px;
    margin-right: 64px;
    width: 47rem;
  }

  .imageBox {
    margin-top: 500px;
    height: 500px;
    width: 100%;
  }

  .imageBox img {
    display: block;
    margin-left: 1rem;
    width: 850px;
    transition: 500ms ease-in-out;
  }

  .startReason {
    margin-top: 420px;
  }

  .whyStarted {
    margin-top: 520px;
    width: 55.7rem;
  }

  .reasonForStart {
    width: 55.7rem;
  }

  .reasonForStart p {
    margin-right: 64px;
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-top: 10px;
    z-index: 1;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .bgimage {
    position: relative;
    width: 80%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  .section5 {
    margin-top: 290px;
    width: 103%;
    height: auto;
    margin-right: 0;
  }

  .para1 {
    font-size: 17px;
    padding: 10px 60px 10px 60px;
  }

  .boxbg1 {
    margin-top: 370px;
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
  }

  .boxbg2 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-top: 370px;
    margin-left: 30px;
  }

  .boxbg3 {
    height: 200px;
    justify-content: none;
    align-items: left;
    margin-top: 370px;
    margin-left: 20px;
  }

  .sbox {
    height: 31px;
    width: 79px;
    transform: translate(-60%, -30%);
    font-size: 16px;
    align-items: center;
  }

  .collabs {
    padding: 10px 40px 10px 30px;
    width: 103%;
  }

  .collabs h1 {
    font-size: 50px;
  }

  .collabs p {
    font-size: 17px;
    text-align: left;
  }
}

/* Mobile screen can begin from here */
@media screen and (min-width: 576px) and (max-width: 767px) {

  /* Changed Css Shataxi */
<<<<<<< Updated upstream
  .section1,.section2{
=======
  .section1, .section2 {
>>>>>>> Stashed changes
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0px 0px;
  }

  .rowTwoRowPara {
    background-color: cornsilk;
  }

  .rowOneColOne>img {
    width: 100%;
    height: 100%;
    left: 0px;
  }

  .rowOneColTwo>div {
    margin-left: 0rem;
    max-width: 100%;
  }

  .rowTwoDiv>h1 {
    /* padding-left: 1.5rem; */
    padding-left: 10px;
    padding-right: 10px;
  }

  .rowTwoRowPara>p {
    /* padding-left: 2rem;
    padding-right:1rem; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
  /* .rowNineCarouselWrapper{
   margin:2rem;
  } */
  .rowNineCarouselDiv img {
<<<<<<< Updated upstream
    padding-left:30px;
    padding-right:30px;
=======
    padding-left: 30px;
    padding-right: 30px;
>>>>>>> Stashed changes
    /* height: 50vh; */
  }

  /* Changed Css Shadab  */
  .content p {
    width: 61.5rem;
    font-size: 2.3ex;
    margin-top: 40px;
    margin-right: 64px;
    width: 47rem;
  }

  .imageBox {
    margin-top: 500px;
    height: 500px;
    width: 100%;
  }

  .imageBox img {
    display: block;
    margin-left: 1rem;
    width: 850px;
    transition: 500ms ease-in-out;
  }

  .startReason {
    margin-top: 420px;
  }

  .whyStarted {
    margin-top: 520px;
    width: 55.7rem;
  }

  .reasonForStart {
    width: 55.7rem;
  }

  .reasonForStart p {
    margin-right: 64px;
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    margin-left: 60px;
    width: auto;
    margin-right: 30px;
    margin-top: 10px;
    z-index: 1;
    width: 80%;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .bgimage {
    position: relative;
    width: 80%;
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 40px;
  }

  .section5 {
    margin-top: 230px;
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  .para1 {
    font-size: 15px;
    padding: 10px 60px 10px 60px;
  }

  .boxbg1 {
    margin-top: 440px;
    height: 140px;
    justify-content: none;
    align-items: left;
    margin-left: 40px;
  }

  .boxbg2 {
    height: 140px;
    justify-content: none;
    align-items: left;
    margin-top: 440px;
    margin-left: 15px;
  }

  .boxbg3 {
    height: 140px;
    justify-content: none;
    align-items: left;
    margin-left: -5px;
    margin-top: 440px;
  }

  .sbox {
    height: 24px;
    width: 70px;
    transform: translate(0%, -30%);
    font-size: 13px;
    align-items: center;
    margin-left: 50px;
  }

  .collabs {
    padding: 10px 40px 10px 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .collabs h1 {
    font-size: 40px;
  }

  .collabs p {
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
  }
}

@media screen and (min-width: 620px) and (max-width: 767px) {
  .section5 {
    margin-top: 250px;
  }

  .sec5bgimage {
    z-index: -1;
    margin-left: 10%;
  }

  .boxbg1 {
    margin-top: 290px;
  }

  .boxbg2 {
    margin-top: 290px;
  }

  .boxbg3 {
    margin-top: 290px;
  }
}

@media screen and (max-width: 575px) {

  /* Changed Css Shataxi */
<<<<<<< Updated upstream
  .section1,.section2{
    padding-left:2rem;
    padding-right:2rem;
=======
  .section1, .section2 {
    padding-left: 2rem;
    padding-right: 2rem;
>>>>>>> Stashed changes
  }

  .rowOneColOne>img {
    width: 100%;
    height: 100%;
    left: 0px;
  }

  .rowOneColTwo>div {
    margin-left: 0rem;
<<<<<<< Updated upstream
    padding-top:0;
=======
    padding-top: 0;
>>>>>>> Stashed changes
  }

  .rowTwoDiv>h1 {
    padding-left: 8px;
  }

  .rowTwoRowPara {
    background-color: cornsilk;
    word-spacing: 0;
  }

  .rowTwoRowPara>p {
    padding-left: 8px;
<<<<<<< Updated upstream
    padding-right:8px;
    font-size: 16px;
  }
=======
    padding-right: 8px;
    font-size: 16px;
  }

>>>>>>> Stashed changes
  /* .rowNineCarouselWrapper{
    margin:2rem;
   } */
  .rowNineCarouselDiv img {
<<<<<<< Updated upstream
    padding:0;
=======
    padding: 0;
>>>>>>> Stashed changes
    /* height: 40vh; */
  }

  /* Changed Css Shadab  */
  .content p {
    font-size: 2.3ex;
    margin-top: 50px;
    width: 54.7rem;
    margin-right: 64px;
  }

  .imageBox {
    margin-top: 500px;
    height: 500px;
    width: 100%;
  }

  .imageBox img {
    display: block;
    margin-left: 4rem;
    /* margin-right: auto; */
    width: 900px;
    transition: 500ms ease-in-out;
  }

  .startReason {
    margin-top: 420px;
  }

  .whyStarted {
    margin-top: 520px;
    width: 62.7rem;
  }

  .reasonForStart {
    width: 62.7rem;
  }

  .reasonForStart p {
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
  .sec5bgimage {
    position: relative;
    width: auto;
    margin-top: 10px;
    z-index: 1;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .section5 {
    margin-top: 250px;
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  .para1 {
    font-size: 15px;
    text-align: left;
    padding: 20px 40px 20px 40px;
  }

  .boxbg1 {
    margin-top: 440px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 25%;
  }

  .boxbg2 {
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 25%;
    margin-top: 10px;
  }

  .boxbg3 {
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 25%;
    margin-top: 10px;
  }

  .sbox {
    height: 45px;
    width: 150px;
    transform: translate(50%, -30%);
    font-size: 23px;
    align-items: center;
  }

  .bgimage {
    position: relative;
    margin-left: 60px;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
    z-index: 1;
    width: 80%;
  }

  .collabs {
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
  }

  .collabs h1 {
    font-size: 43px;
    font-weight: bolder;
  }

  .collabs p {
    font-size: 17px;
    word-spacing: 2px;
    text-align: left;
  }

  .collabbutton {
    margin-top: 2px;
    padding: 10px 12px;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 444px) {

  /* Changed Css Shataxi */
<<<<<<< Updated upstream
  .rowOneColOne img{
    height:100%;
  }
  .rowOneColTwo>div{
    padding-top:2rem;
  }
  .rowTwoRowPara>p{
    text-align:justify;
    font-size: 15px;
  }
  .rowNineCarouselDiv img {
    padding:0;
=======
  .rowOneColOne img {
    height: 100%;
  }

  .rowOneColTwo>div {
    padding-top: 2rem;
  }

  .rowTwoRowPara>p {
    text-align: justify;
    font-size: 15px;
  }

  .rowNineCarouselDiv img {
    padding: 0;
>>>>>>> Stashed changes
    /* height: 40vh; */
  }

  .boxbg1 {
    margin-top: 580px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 17%;
  }

  .boxbg2 {
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 17%;
    margin-top: 8px;
  }

  .boxbg3 {
    height: 250px;
    margin-right: 20px;
    margin-left: 17%;
    margin-top: 8px;
  }

  .sbox {
    height: 40px;
    width: 110px;
    transform: translate(0%, -30%);
    font-size: 20px;
    align-items: center;
  }

  .section5 {
    margin-top: 180px;
  }

  .sec5bgimage {
    z-index: -1;
  }

  .bgimage {
    position: relative;
    margin-left: 45px;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
    z-index: 1;
    width: 80%;
  }

  .collabs {
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
  }
}

@media screen and (min-width: 200px) and (max-width:350px) {
<<<<<<< Updated upstream
  .rowOneColOne img{
    height:100%;
  }
  .rowOneColTwo>div{
    padding-top:2rem;
  }
  .rowTwoRowPara>p{
    text-align:justify;
    font-size: 14px;
  }
  .rowNineCarouselDiv img {
    padding:0;
=======
  .rowOneColOne img {
    height: 100%;
  }

  .rowOneColTwo>div {
    padding-top: 2rem;
  }

  .rowTwoRowPara>p {
    text-align: justify;
    font-size: 14px;
  }

  .rowNineCarouselDiv img {
    padding: 0;
>>>>>>> Stashed changes
    /* height: 40vh; */
  }

  /*****Changes by Anjali *****/
  .boxbg1 {
    margin-top: 900px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 17%;
  }

  .boxbg2 {
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 17%;
    margin-top: 8px;
  }

  .boxbg3 {
    height: 200px;
    margin-right: 20px;
    margin-left: 17%;
    margin-top: 8px;
  }

  .section5 {
    margin-top: 140px;
  }

  .sbox {
    height: 30px;
    width: 90px;
    transform: translate(-40%, -30%);
    font-size: 15px;
    align-items: center;
  }

  .bgimage {
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .collabs h1 {
    font-size: 34px;
  }

  .collabs p {
    font-size: 14px;
  }
}
