.mainAboutUs {
}

/* Default Css Shataxi for Row 1 and Row 2 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+HK&display=swap");

.rowOneColOne {
  position: relative;
  left: 5rem;
}

/* styling for rowOneColTwo div */
.rowOneColTwo {
  background-color: orange;
  background-image: url("../AboutUsImages/1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* margin-right: 0.5rem; */
  align-content: center;
}

.rowOneColTwo h1 {
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes change {
  0% {
    letter-spacing: 0px;
  }

  25% {
    letter-spacing: 2px;
  }

  50% {
    letter-spacing: 4px;
  }

  75% {
    letter-spacing: 2px;
  }

  100% {
    letter-spacing: 0px;
  }
}

.rowTwoDiv {
  background-color: yellow;
  background-image: url("../AboutUsImages/2.png");
  background-size: cover;
  background-position: left;
  height: 6rem;
  width: 100%;
}

.rowTwoDiv > h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  padding-left: 2.2rem;
}

.rowOneColTwo p {
  color: grey;
  font-weight: bolder;
  font-style: oblique;
  font-family: "Source Sans Pro";
  word-spacing: 3px;
}

.rowTwoRowPara {
  font-family: "Noto Sans HK", "Source Sans Pro";
  color: grey;
  word-spacing: 5px;
  background-color: cornsilk;
}

/* Default Css Shadab  for Row 3 and Row 4 */

.container2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.section3 {
  height: 500px;
  display: flex;
}
.content {
  background-image: url("../AboutUsImages/background.png");
  margin-top: 100px;
  height: 500;
  width: 60vw;
}

.content p {
  margin-left: 64px;
  margin-right: 164px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: justify;
}

.imageBox {
  position: absolute;
  margin-top: 100px;
  height: 500px;
  align-items: center;
  text-align: center;
  /* background-color: rgb(195, 245, 138); */
}

.imageBox img {
  position: absolute;
  top: 9%;
  height: 400px;
  width: 850px;
  align-items: center;
  text-align: center;
  transition: 500ms ease-in-out;
}

.section4 {
  margin-top: 200px;
  width: 100%;
}

.whyStarted {
  height: 80px;
  background: rgb(130, 217, 233);
  width: 93vw;
}

.whyStarted h1 {
  margin-left: 64px;
  line-height: 80px;
  background-image: url(../AboutUsImages/4.png);
}

.reasonForStart {
  margin-top: 40px; 
  width: 93vw;
 }

.reasonForStart p {
  font-size: 2.6ex;
  margin-left: 64px;
  margin-right: 64px;
  text-align: justify;
}

/* Default Css Anjali for Row 5 and Row 6 */
.bgimage {
  z-index: -1;
  margin-left: 80px;
  margin-top: 5px;
  width: 90%;
  transition: 300ms ease-in-out;
}

.bgimage:hover {
  z-index: 5;
  transform: scale(1.1);
}

.section5 {
  font-size: 25px;
  margin-top: 300px;
  margin-bottom: 50px;
  background-size: 100% 90%;
  height: 400px;
  background-image: url("../AboutUsImages/background-red.png");
  position: absolute;
}

.para1 {
  padding: 50px 40px 0px 40px;
  margin-bottom: 0px;
}

.para2 {
  padding: 0px 40px 0px 40px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boxbg {
  height: 400px;
  margin-left: 40px;
  margin-top: 350px;
  transition: 300ms ease-in-out;
}

.boxbg:hover {
  transform: scale(1.1);
}

.boxbgmain {
  height: 400px;
  margin-left: 40px;
  margin-top: 350px;
  transition: 300ms ease-in-out;
}

.boxbgmain:hover {
  transform: scale(1.1);
}

.sbox {
  height: 48px;
  width: 180px;
  margin-left: 150px;
  background-image: url("../AboutUsImages/background-red.png");
  background-size: 50% 90%;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%);
  font-size: 26px;
}

/* Default Css Shadab  for Row 7 */

.container71 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../AboutUsImages//1.png");
}

.cardBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 90%;
  background-color: white;
  display: flex;
}

.founder {
  position: relative;
  height: 100%;
  width: 45%;
  float: left;
}

.foundersImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-65%, -50%);
  height: 80%;
  width: 66%;
  border-radius: 50%;
}

.infoBox {
  position: relative;
  left: -128px;
  top: 50px;
  height: 90px;
  width: 300px;
  background-image: url("../AboutUsImages//1.png");
}

.infoBox h2 {
  position: absolute;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 26px;
  top: 7px;
  left: 20px;
}

.infoBox p {
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  top: 50px;
  left: 20px;
}

.fullDetail {
  position: absolute;
  width: 57.9%;
  top: 140px;
  right: 25px;
}

.fullDetail p {
  font-size: 21px;
}
/*************************** code for second card *********************/

.container72 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../AboutUsImages/2.png");
}

.details {
  position: relative;
  height: 100%;
  width: 60%;
  float: left;
}

.infoBox2 {
  position: absolute;
  left: 25px;
  top: 50px;
  height: 90px;
  width: 300px;
  background-image: url("../AboutUsImages/2.png");
}

.infoBox2 h2 {
  position: absolute;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 26px;
  top: 7px;
  left: 20px;
}

.infoBox2 p {
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  top: 50px;
  left: 20px;
}

.fullDetail2 {
  position: absolute;
  right: 40%;
  top: 140px;
  /* text-align: justify; */
}

.fullDetail2 p {
  font-size: 21px;
  margin-left: 25px;
  text-align: justify;
}

.ceo {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
}

.ceoImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

/**************** code for the third card ****************/
.container73 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../AboutUsImages/background.png");
}

.infoBox3 {
  position: relative;
  left: -128px;
  top: 50px;
  height: 90px;
  width: 300px;
  background-image: url("../AboutUsImages/background.png");
}

.infoBox3 h2 {
  position: absolute;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 26px;
  top: 7px;
  left: 20px;
}

.infoBox3 p {
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  top: 50px;
  left: 20px;
}

/**************** code for the fourth card ****************/
.container74 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../AboutUsImages/4.png");
}

.infoBox4 {
  position: relative;
  left: 15px;
  top: 50px;
  height: 90px;
  width: 300px;
  background-image: url("../AboutUsImages/4.png");
}

.infoBox4 h2 {
  position: absolute;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 26px;
  top: 7px;
  left: 20px;
}

.infoBox4 p {
  position: absolute;
  font-weight: 500;
  font-size: 26px;
  top: 50px;
  left: 20px;
}


/* Default Css Anjali for Row 8 */
.collabs {
  margin-top: 20px;
  margin-bottom: 50px;
  background-image: url("../AboutUsImages/background.png");
  padding: 30px 180px 30px 180px;
}

.collabs h1 {
  font-size: 48px;
}

.collabs p {
  font-size: 20px;
}

.collabbutton {
  margin-top: 10px;
  padding: 13px 15px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ffffa8;
  border: none;
  border-radius: 25px;
  color: black;
}

.collabbutton:hover {
  background-color: #ffff8c;
  text-decoration: underline;
  color: black;
}
/* Default Css Shataxi for Row 9 */
.rowNineCarouselWrapper {
  background-image: url("../AboutUsImages/4.png");
}

.rowNineCarouselRoot > div {
  display: flex;
  justify-content: center;
}

.rowNineCarouselDiv img {
  width: 50%;
  padding: 2px;
}

/* ****************************** Media Queries **************************** */
@media screen and (min-width: 1590px) {
  /* Changed Css Shataxi */
  .rowOneColTwo > div {
    margin-left: 6rem;
  }

  .rowNineCarouselDiv img {
    width: 50%;
    height: 65vh;
  }

  /* Changed Css Shadab  */

  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 85.7rem;
    z-index: 2;
  }

  .content p {
    font-size: 3.3ex;
    margin-top: 25px;
  }

  .imageBox {
    width: 1200px;
    left: 30vw;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    width: 100%;
    margin-left: -90.5px;
    z-index: 5;
  }

  .whyStarted {
    width: 140rem;
  }

  .reasonForStart {
    width: 140rem;
  }

  .reasonForStart p {
    font-size: 3.3ex;
  }

  /* Changed Css Anjali  */
}

@media screen and (min-width: 1300px) and (max-width: 1589px) {
  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    z-index: 2;
  }

  .content p {
    font-size: 2.7ex;
    margin-top: 25px;
  }

  .imageBox {
    width: 700px;
    left: 16.5vw;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -105.5px;
    z-index: 5;
  }

  .reasonForStart p {
    font-size: 2.9ex;
  }
}

/*** Assuming default css will be applied from 1300px to 1589px ***/
@media screen and (min-width: 1260px) and (max-width: 1299px) {
  /* Changed Css Shataxi */
  .rowOneColTwo > div {
    margin-left: 6rem;
  }

  .rowNineCarouselDiv img {
    width: 50%;
    height: 65vh;
  }

  /* Changed Css Shadab  */

  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    z-index: 2;
  }

  .content p {
    font-size: 2.55ex;
    margin-top: 25px;
  }

  .imageBox {
    width: 700px;
    left: 6.5vw;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -105.5px;
    z-index: 5;
  }

  .reasonForStart p {
    font-size: 2.6ex;
  }

  /* Changed Css Anjali  */
}

@media screen and (min-width: 1126px) and (max-width: 1259px) {
  /* Changed Css Shataxi */
  .rowOneColTwo > div {
    margin-left: 6rem;
  }

  .rowNineCarouselDiv img {
    width: 50%;
    height: 65vh;
  }

  /* Changed Css Shadab  */

  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 56vw;
    z-index: 2;
  }
  .content p {
    margin-top: 25px;
    margin-right: 143px;
    font-size: 2.3ex;
  }

  .imageBox {
    width: 700px;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -90.5px;
    z-index: 5;
  }
  .reasonForStart p {
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
  /* Changed Css Shataxi */
  .rowOneColTwo > div {
    margin-left: 6rem;
  }

  .rowNineCarouselDiv img {
    width: 50%;
    height: 65vh;
  }

  /* Changed Css Shadab  */

  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    z-index: 2;
  }
  .content p {
    margin-top: 25px;
    margin-right: 143px;
    font-size: 2.1ex;
  }

  .imageBox {
    left: -1vw;
    width: 650px;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -90.5px;
    z-index: 5;
  }
  .reasonForStart p {
    font-size: 2.1ex;
  }

  /* Changed Css Anjali  */
}

@media screen and (min-width: 769px) and (max-width: 999px) {
  /* Changed Css Shataxi */
  .rowOneColTwo > div {
    margin-left: 6rem;
  }

  .rowNineCarouselDiv img {
    width: 50%;
    height: 65vh;
  }

  /* Changed Css Shadab  */

  .content {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 500px;
    width: 100vw;
    z-index: 2;
  }
  .content p {
    margin-right: 115px;
    margin-top: 25px;
    font-size: 2ex;
  }

  .imageBox {
    left: 15rem;
  }

  .imageBox img {
    z-index: 1;
  }

  .imageBox img:hover {
    transform: scale(1.3);
    margin-left: -90.5px;
    z-index: 5;
  }

  .reasonForStart p {
    font-size: 2.1ex;
  }

  /* Changed Css Anjali  */
}

@media screen and (width: 768px) {
  .rowOneColTwo > div {
    margin-left: 5rem;
  }

  @keyframes change {
    0% {
      letter-spacing: 0px;
    }

    25% {
      letter-spacing: 1.5px;
    }

    50% {
      letter-spacing: 0px;
    }

    75% {
      letter-spacing: 1.5px;
    }

    100% {
      letter-spacing: 0px;
    }
  }

  .rowNineCarouselDiv img {
    width: 50%;
    height: 65vh;
  }
}

/* Mobile screen can begin from here */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Changed Css Shataxi */
  .rowOneColOne {
    left: 0;
  }

  .rowOneColTwo {
    margin-right: 0;
  }

  .rowTwoDiv > h1 {
    font-size: 2.2rem;
  }

  .rowNineCarouselDiv img {
    width: 95vw;
    height: 40vh;
  }

  /* Changed Css Shadab  */

  .content {
    width: 55rem;
  }

  .content p {
    width: 61.5rem;
    font-size: 2.3ex;
    margin-top: 40px;
    margin-right: 64px;
    width: 47rem;
  }

  .imageBox {
    margin-top: 500px;
    height: 500px;
    width: 100%;
  }

  .imageBox img {
    display: block;
    margin-left: 1rem;
    width: 850px;
    transition: 500ms ease-in-out;
  }

  .startReason {
    margin-top: 420px;
  }

  .whyStarted {
    margin-top: 520px;
    width: 55.7rem;
  }

  .reasonForStart {
    width: 55.7rem;
  }

  .reasonForStart p {
    margin-right: 64px;
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
  .bgimage {
    position: relative;
    margin-left: 10px;
    width: auto;
    margin-right: 30px;
    margin-top: 10px;
  }

  .section5 {
    margin-top: 120px;
    width: 100%;
    height: 900px;
    margin-right: 0;
  }

  .para1 {
    font-size: 20px;
  }

  .para2 {
    font-size: 20px;
  }

  .boxbg {
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 40px;
  }

  .boxbgmain {
    margin-top: 950px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
  }

  .sbox {
    height: 45px;
    width: 150px;
    transform: translate(-24%, -30%);
    font-size: 23px;
    align-items: center;
  }

  .collab {
    padding: 0px 10px 0px 10px;
  }

  .collab h1 {
    font-size: 30px;
  }
}

.collab p {
  font-size: 15px;
}

@media screen and (max-width: 575px) {
  /* Changed Css Shataxi */
  .rowOneColOne {
    left: 0;
  }

  .rowOneColTwo {
    margin-right: 0;
  }

  .rowTwoDiv > h1 {
    font-size: 2.2rem;
  }

  .rowNineCarouselDiv img {
    width: 95vw;
    height: 40vh;
  }

  /* Changed Css Shadab  */

  .content {
    width: 65rem;
  }

  .content p {
    font-size: 2.3ex;
    margin-top: 50px;
    width: 54.7rem;
    margin-right: 64px;
  }

  .imageBox {
    margin-top: 500px;
    height: 500px;
    width: 100%;
  }

  .imageBox img {
    display: block;
    margin-left: 4rem;
    /* margin-right: auto; */
    width: 900px;
    transition: 500ms ease-in-out;
  }

  .startReason {
    margin-top: 420px;
  }

  .whyStarted {
    margin-top: 520px;
    width: 62.7rem;
  }

  .reasonForStart {
    width: 62.7rem;
  }

  .reasonForStart p {
    font-size: 2.3ex;
  }

  /* Changed Css Anjali  */
}

@media screen and (max-width: 444px) {
  /* Changed Css Shataxi */
  .rowNineCarouselDiv img {
    width: 90vw;
    height: 20vh;
  }
}

@media screen and (max-width: 323px) {
  /* Changed Css Shataxi */
  .rowOneColTwo h1 {
    font-size: xx-large;
  }

  @keyframes change {
    0% {
      letter-spacing: -1px;
    }

    25% {
      letter-spacing: 1px;
    }

    50% {
      letter-spacing: -1px;
    }

    75% {
      letter-spacing: 1px;
    }

    100% {
      letter-spacing: -1px;
    }
  }
}
