.body{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-size: 100% 100%;
    height: 400px;
    background-image: url('./Images/background_half.png');
}

.para1 {
  padding: 50px 40px 0px 40px;
  margin-bottom: 0px;
}

.para2 {
  text-align: center;
  justify-content: center;
  padding: 0px 40px 0px 40px;
  margin-top: 0px;
}
