.bgimage {
  position: relative;
  z-index: -1;
  margin-left: 60px;
  margin-top: 5px;
  width: 90%;
}

.bgimage:hover {
  z-index: 1;
}
.section5 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-size: 100% 90%;
  height: 400px;
  position: relative;
  background-image: url('./Images/background-red.png');
  background-position: center;
  position: absolute;
}

.section5:hover {
  z-index: -1;
}

.para1 {
  padding: 50px 40px 0px 40px;
  margin-bottom: 0px;
}

.boxbg {
  height: 400px;
  margin-left: 40px;
  margin-top: 100px;
}

.sbox {
  height: 48px;
  width: 180px;
  margin-left: 150px;
  background-image: url('./Images/background-red.png');
  background-size: 50% 90%;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%);
  font-size: 26px;
}
